.callout {
  border-left: 2em solid #0096c8;
  border-radius: 10px;
  background-color: #e6f0f0;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.callout p {
  padding-left: 4em;
  padding-right: 2em;
}

.callout li {
  margin-left: 4em;
}

.callout-title {
  font-weight: bold;
  background-color: #0096c8;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-left: 4em;
  color: white;
}

div.definition,
div.example {
  border: 0.2em solid hsl(197, 0%, 75%);
  border-left-width: 2.5em;
  background-color: hsl(197, 0%, 95%);
  border-radius: 1em;
  padding: 0.4em;
  padding-left: 2em;
}

div.definition span::after,
div.example span::after {
  margin-right: 1em;
  content: "\a";
  white-space: pre;
}

.caption {
  font-size: smaller;
  padding: 0em 3em 2em 3em;
}

table caption {
  padding: 0em 3em 0em 3em;
}

table {
  border-top: solid 1pt;
  border-bottom: solid 1pt;
  font-size: 90%;
}

tfoot {
  border-top: solid 1pt;
}

th {
  border-bottom: solid 1pt;
}

th,
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.book .book-body .page-wrapper .page-inner section.normal table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
